---
import { buttonVariants } from '@/components/ui/button';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="Dietoos Blog"
  description="A blog about diet and healthy lifestyle."
>
  <section class="container grid items-center gap-6 pt-6 pb-8 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
      >
        Dietoos Blog <br class="hidden sm:inline" />
        built with Astro, Radix UI and Tailwind CSS.
      </h1>
      <p class="text-muted-foreground max-w-[700px] text-lg">
        A blog about diet and healthy lifestyle.
      </p>
    </div>
    <div class="flex gap-4">
      <a
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        Documentation
      </a>
      <a
        href="https://github.com/nocodeguys/dietoos-blog"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
      >
        GitHub
      </a>
    </div>
  </section>
</BaseLayout>
